@(company: Form[CreateCompanyForm], companiesCache: Seq[CacheInfo])(implicit request: MessagesRequestHeader)

@import helper._

@main("Companies") {
	<div class="jumbotron">
		<div class="container">
			<h1 class="display-4">Companies</h1>
			<p class="lead">Simple page to create companies and see the current statistics.</p>
		</div>
	</div>

	@request.flash.get("success").map { key =>
	<div class="alert alert-primary" role="alert">
		@request.messages(key)
	</div>
	}

	<div>
		<button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#myModal">
			Create new company
		</button>
		<br/>
	</div>

	<div class="modal" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				@form(routes.CompanyController.addCompany()) {
					<div class="modal-header">
						<h4 class="modal-title">New Company</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<div class="modal-body">
						<div class="form-group">
							@inputText(company("name"))
						</div>
						<div class="form-group">
							@inputText(company("dailyLimit"))
						</div>
						@CSRF.formField
					</div>

					<div class="modal-footer">
						<input type="submit" class="btn btn-primary" value="Save"/>
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
					</div>
				}
			</div>
		</div>
	</div>

	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Name</th>
				<th scope="col">App id</th>
				<th scope="col">App key</th>
				<th scope="col">Daily limit</th>
				<th scope="col">
					Requests today
					<a href="#" data-toggle="tooltip" title="All requests above daily limit will return 429 code.">
						<i class="fas fa-info"></i>
					</a>
				</th>
			</tr>
		</thead>
		<tbody>
			@for(c <- companiesCache) {
			<tr>
				<td>@c.company.id</td>
				<td>@c.company.name</td>
				<td>@c.company.appId</td>
				<td>@c.company.appKey</td>
				<td>@c.company.dailyLimit</td>
				<td>@c.requestsToday</td>
			</tr>
			}
		</tbody>
	</table>
	</div>

}
